<div class="list-songs">
  <mat-list role="list">
    <mat-list-item role="listitem" *ngIf="empty">
      Nothing here yet...
    </mat-list-item>
    <mat-list-item role="listitem" *ngFor="let song of songs">
      <div class="song-content">
        <mat-icon
          class="favourite"
          [svgIcon]="song.starred ? 'heart_full' : 'heart_empty'"
          [matTooltip]="
            song.starred ? 'Favourited on ...' : 'Add to favourites'
          "
          [matTooltipShowDelay]="1000"
          matTooltipPosition="above"
          (click)="toggleFavourite(song.id)"
        ></mat-icon>
        <div
          class="title"
          [matTooltip]="song.title"
          [matTooltipShowDelay]="1000"
          matTooltipPosition="above"
        >
          {{ song.title }}
        </div>
        <div
          class="artist"
          [matTooltip]="song.artist"
          [matTooltipShowDelay]="1000"
          matTooltipPosition="above"
        >
          {{ song.artist }}
        </div>
        <div
          class="album"
          [matTooltip]="song.album"
          [matTooltipShowDelay]="1000"
          matTooltipPosition="above"
        >
          {{ song.album }}
        </div>
        <div class="playcount">
          {{ song.playCount }}
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
