@import '~src/styles/variables';

.list-songs {
  mat-list-item {
    @extend %font-open-sans;
    @extend %disable-selection;
    height: 36px;
    font-size: 13px;
    border-bottom: 1px solid rgba(white, 0.05);
    cursor: pointer;

    &:hover,
    &:focus {
      background: rgba(white, 0.025);
      .playcount {
        transition: 350ms;
        opacity: 0.25;
      }
    }

    &.selected {
      background: rgba($primary, 0.5);
    }

    &.headers {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.song-content {
  flex: 1;
  display: grid;
  grid-template-columns: 20px 250px 175px auto 20px;
  grid-column-gap: 10px;
}

.favourite {
  width: 18px;
  height: 18px;
  opacity: 0.5;
  cursor: pointer;
  transition: 150ms;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.remove {
  width: 18px;
  height: 18px;
  opacity: 0.15;
  cursor: pointer;
  transition: 150ms;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.artist,
.title,
.album {
  @extend %truncate-ellipsis;
  @extend %disable-selection;
}

.artist,
.album {
  span {
    cursor: pointer;
    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

.playcount {
  opacity: 0;
}

.cdk-drag-preview {
  opacity: 0.2;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

mat-list-item.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
