<div class="list-songs" *ngIf="songs">
  <mat-list
    role="list"
    cdkDropList
    #songlist="cdkDropList"
    [cdkDropListData]="songs"
  >
    <mat-list-item role="listitem" *ngIf="empty">
      Nothing here yet...
    </mat-list-item>
    <mat-list-item
      role="listitem"
      *ngFor="let song of songs"
      [ngClass]="{selected: song.selected}"
      (click)="songClick.emit({event: $event, song: song})"
      cdkDrag
    >
      <div class="song-content">
        <mat-icon
          class="favourite"
          [svgIcon]="song.starred ? 'heart_full' : 'heart_empty'"
          [matTooltip]="
            song.starred ? 'Favourited on ...' : 'Add to favourites'
          "
          [matTooltipShowDelay]="1000"
          matTooltipPosition="above"
          (click)="toggleFavourite($event, song)"
        ></mat-icon>
        <div
          class="title"
          [matTooltip]="song.title"
          [matTooltipShowDelay]="1000"
          matTooltipPosition="above"
        >
          {{ song.title }}
        </div>
        <div
          class="artist"
          [matTooltip]="song.artist"
          [matTooltipShowDelay]="1000"
          matTooltipPosition="above"
        >
          {{ song.artist }}
        </div>
        <div
          class="album"
          [matTooltip]="song.album"
          [matTooltipShowDelay]="1000"
          matTooltipPosition="above"
        >
          {{ song.album }}
        </div>
        <div class="playcount">
          {{ song.playCount }}
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
