<div
  class="page-view playlist-details"
  *ngIf="playlistsFacade.playlistInfo$ | async"
>
  <div class="art">
    <mat-icon class="placeholder" svgIcon="headphones"></mat-icon>
    <img
      class="cover-art"
      *ngIf="(playlistsFacade.playlistInfo$ | async).playlist.coverArt"
      [coverArt]="(playlistsFacade.playlistInfo$ | async).playlist.coverArt"
      alt="{{ (playlistsFacade.playlistInfo$ | async).playlist.name }}"
      size="400"
    />
  </div>

  <div class="info">
    <div class="title">
      <h2>{{ (playlistsFacade.playlistInfo$ | async).playlist.name }}</h2>
      <div class="menu" [matMenuTriggerFor]="playlistMenu">
        <mat-icon svgIcon="menu"></mat-icon>
      </div>
    </div>
    <p class="comment">
      {{ (playlistsFacade.playlistInfo$ | async).playlist.comment }}
    </p>
    <ul class="meta">
      <li class="count">
        {{
          (playlistsFacade.playlistInfo$ | async).playlist.songCount | songCount
        }}
      </li>
      <li class="duration">
        {{
          (playlistsFacade.playlistInfo$ | async).playlist.duration | duration
        }}
      </li>
    </ul>
  </div>

  <songs-lister
    [songs]="playlistsFacade.allSongs$ | async"
    [removeButton]="true"
    (songClick)="handleSongClick($event)"
    (albumClick)="handleAlbumClick($event)"
    (artistClick)="handleArtistClick($event)"
    (favClick)="handleFavClick($event)"
    (removeClick)="handleRemoveClick($event)"
  ></songs-lister>
</div>

<mat-menu #playlistMenu="matMenu">
  <button
    *ngIf="playlistsFacade.playlistInfo$ | async as p"
    mat-menu-item
    (click)="editPlaylist(p.playlist.name, p.playlist.comment)"
  >
    <mat-icon svgIcon="edit"></mat-icon>
    <span>Edit Playlist</span>
  </button>
  <button
    *ngIf="playlistsFacade.playlistInfo$ | async as p"
    mat-menu-item
    (click)="deletePlaylist(p.playlist.id, p.playlist.name)"
  >
    <mat-icon svgIcon="delete"></mat-icon>
    <span>Delete Playlist</span>
  </button>
</mat-menu>
