<div class="albums-lister" *ngIf="albums">
  <mat-card
    *ngFor="let album of albums"
    (click)="albumClick.emit({event: $event, album: album.id})"
  >
    <div class="art">
      <mat-icon class="placeholder" svgIcon="headphones"></mat-icon>
      <img
        class="cover-art"
        *ngIf="album.coverArt"
        [coverArt]="album.coverArt"
        size="400"
        alt="{{ album.title }}"
      />
    </div>
    <div class="content">
      <div class="title">{{ album.name }}</div>
      <div
        class="artist"
        (click)="artistClicked({event: $event, artist: album.artistId})"
      >
        {{ album.artist }}
      </div>
    </div>
  </mat-card>
</div>
