@import '~src/styles/variables';
@import '~src/styles/extenders';

.albums-lister {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;

  mat-card {
    flex: 0 0 23.2%;
    padding: 0;
    min-width: 0;
    cursor: pointer;
    background: #4d4d4d;
    background: none;
    box-shadow: none;

    .art {
      @extend %cover-art-style;
      @extend %animations-hover-grow;
      border-radius: 4px;
    }

    .content {
      height: 60px;
      width: 100%;
      overflow: hidden;
      user-select: none;

      .title {
        @extend %font-montserrat;
        font-weight: 500;
        @extend %truncate-ellipsis;
        font-size: 12px; // 0.8em
        margin: 8px;
      }
      .artist {
        @extend %font-open-sans;
        @extend %truncate-ellipsis;
        font-size: 11px;
        margin: 8px 8px 0;
        cursor: pointer;
        &:hover,
        &:focus {
          color: $primary;
        }
      }
    }
  }
}
