$bada55: #bada55;

%mat-list-item {
  @extend %font-open-sans;
  font-size: 14px;
  height: 32px;
  color: #ccc;
  transition: 350ms;
  cursor: pointer;

  &:hover,
  &:focus {
    color: white;
  }

  ::ng-deep {
    .mat-list-item-content {
      padding: 0;
    }
  }
}

%font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

%font-roboto {
  font-family: Roboto, 'Open Sans', sans-serif;
  font-weight: 400;
}

%font-mont {
  font-family: Montserrat, 'Open Sans', sans-serif;
  font-weight: 400;
}

%truncate-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%disable-selection {
  user-select: none;
}
