@import '~src/styles/variables';

.sidebar-browse {
  margin-bottom: 30px;
  mat-list-item {
    @extend %mat-list-item;
    padding: 0 10px;

    &:focus {
      outline: none;
    }
  }
  mat-icon {
    margin-right: 5px;
  }
}
