<div class="sidebar-browse">
  <mat-list>
    <mat-list-item routerLink="albums/newest">
      <mat-icon aria-hidden="false">queue</mat-icon>
      Recently Added
    </mat-list-item>
    <mat-list-item routerLink="albums/recent">
      <mat-icon aria-hidden="false">video_library</mat-icon>
      Recently Played
    </mat-list-item>
    <mat-list-item routerLink="albums/starred">
      <mat-icon aria-hidden="false">star</mat-icon>
      Starred
    </mat-list-item>
    <mat-list-item routerLink="albums/frequent">
      <mat-icon aria-hidden="false">auto_awesome</mat-icon>
      Most played
    </mat-list-item>
    <!-- <mat-list-item routerLink="artists">Artists</mat-list-item> -->
  </mat-list>
</div>
