<div class="page-view search-results">
  <h1 class="page-header">Search Results</h1>

  <div
    class="no-results"
    *ngIf="
      (searchFacade.artistTotal$ | async) <= 0 &&
      (searchFacade.songTotal$ | async) <= 0 &&
      (searchFacade.albumTotal$ | async) <= 0
    "
  >
    <p>No results found for "{{ query | async }}"</p>
  </div>

  <div
    class="results artist-results"
    *ngIf="(searchFacade.artistTotal$ | async) > 0"
  >
    <h2 class="section-header">
      Artists
      <span class="dimmer">({{ searchFacade.artistTotal$ | async }})</span>
    </h2>
    <artists-lister
      [artists]="searchFacade.artistResults$ | async"
      (artistClick)="handleArtistClick($event)"
    ></artists-lister>
  </div>

  <div
    class="results song-results"
    *ngIf="(searchFacade.songTotal$ | async) > 0"
  >
    <h2 class="section-header">
      Songs <span class="dimmer">({{ searchFacade.songTotal$ | async }})</span>
    </h2>
    <songs-lister
      [songs]="searchFacade.songResults$ | async"
      (songClick)="handleSongClick($event)"
      (albumClick)="handleAlbumClick($event)"
      (artistClick)="handleArtistClick($event)"
      (favClick)="handleFavClick($event)"
    ></songs-lister>
  </div>

  <div
    class="results album-results"
    *ngIf="(searchFacade.albumTotal$ | async) > 0"
  >
    <h2 class="section-header">
      Albums
      <span class="dimmer">({{ searchFacade.albumTotal$ | async }})</span>
    </h2>
    <albums-lister
      [albums]="searchFacade.albumResults$ | async"
      (albumClick)="handleAlbumClick($event)"
    ></albums-lister>
  </div>
</div>
