<div
  class="backdrop-art"
  aria-hidden="true"
  *ngIf="
    (artistFacade.selectedArtist$ | async) &&
    (artistFacade.selectedArtist$ | async).coverArt
  "
>
  <img
    class="backdrop-cover-art"
    [coverArt]="(artistFacade.selectedArtist$ | async).coverArt"
    size="1200"
  />
</div>

<div
  class="page-view artist-details"
  *ngIf="artistFacade.selectedArtist$ | async"
>
  <div class="art">
    <mat-icon class="placeholder" svgIcon="headphones"></mat-icon>
    <img
      class="cover-art"
      *ngIf="artistFacade.selectedArtist$ | async"
      [coverArt]="(artistFacade.selectedArtist$ | async).coverArt"
      alt="{{ (artistFacade.selectedArtist$ | async).name }}"
      size="400"
    />
  </div>

  <div class="info">
    <h2>{{ (artistFacade.selectedArtist$ | async).name }}</h2>

    <div class="artistInfo" *ngIf="artistFacade.info$ | async">
      <p class="bio" [innerHtml]="(artistFacade.info$ | async).biography"></p>
    </div>
  </div>

  <div class="results albums" *ngIf="(artistFacade.albumsTotal$ | async) > 0">
    <h2 class="section-header">
      Albums
      <span class="dimmer">({{ artistFacade.albumsTotal$ | async }})</span>
    </h2>
    <albums-lister
      [albums]="artistFacade.albums$ | async"
      (albumClick)="handleAlbumClick($event)"
      (artistClick)="handleArtistClick($event)"
    ></albums-lister>
  </div>
</div>
