@import '~src/styles/variables';

.album-details {
  margin: 30px 15px;
  display: grid;
  grid-template-columns: auto 300px;
}

.info {
  h2,
  h5 {
    margin: 0;
    @extend %font-montserrat;
  }
  h5 {
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  .byline {
    opacity: 0.3;
    margin-right: 5px;
    font-style: italic;
  }
}

ul.meta {
  list-style-type: none;
  margin: 10px 0 0;
  padding: 0;
  font-size: 12px;
  opacity: 0.75;
  @extend %font-open-sans;

  li {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  .genre {
    margin-top: 10px;
    display: block;
  }
}

.art {
  overflow: hidden;
  box-shadow: 3px 3px 8px rgba(black, 0.25);
  outline: 1px solid rgba(white, 0.1);
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
