<h1 mat-dialog-title>{{ title }}</h1>
<form [formGroup]="form" (submit)="save()">
  <div mat-dialog-content>
    <mat-form-field>
      <input
        #nameInput
        matInput
        type="text"
        formControlName="name"
        placeholder="Name"
      />
    </mat-form-field>

    <mat-form-field *ngIf="commentEnabled">
      <input
        matInput
        type="text"
        formControlName="comment"
        placeholder="Comment"
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" (click)="save()" [disabled]="form.invalid">
      Save
    </button>
    <button mat-button type="button" (click)="close()">Close</button>
  </div>
</form>
